<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <div class="container">
      <a th:if="${board.user.id} == ${#authentication.principal.user.id}" th:href="@{/board/{id}/updateForm(id=${board.id})}" id="btn-update" class="btn btn-warning">수정</a>
      <button th:if="${board.user.id} == ${#authentication.principal.user.id}" id="btn-delete" class="btn btn-danger">삭제</button>
      <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
      <br>
      <br>
      <div>
        글 번호 : <span id="id" th:text="${board.id}"></span>
        작성자 : <span th:text="${board.user.username}"></span>
      </div>
      <br>
      <th:block th:object="${board}">
        <div class="form-group">
          <h3 th:utext="*{title}"></h3>
        </div>
        <hr>
        <div class="form-group">
          <div th:utext="*{content}"></div>
        </div>
        <hr>
      </th:block>

    </div>
  </th:block>
</th:block>
<script th:src="@{/js/board.js}"></script>
</html>


