<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <div class="container">
      <form>
        <input type="hidden" id="id" th:value="${#authentication.principal.user.id}">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" th:value="${#authentication.principal.user.username}" class="form-control" placeholder="Enter username" id="username" readonly>
        </div>
        <div class="form-group" >
          <label for="email">Email:</label>
          <input type="email" th:value="${#authentication.principal.user.email}" class="form-control" placeholder="Enter email" id="email" th:readonly="${#authentication.principal.user.oauth != null}">
        </div>
        <div class="form-group" th:if="${#authentication.principal.user.oauth == null}">
          <label for="password">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="password">
        </div>
      </form>
      <button id="btn-update" class="btn btn-primary">회원정보수정</button>
    </div>
  </th:block>
</th:block>
<script th:src="@{/js/user.js}"></script>
</html>


