<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <div class="container">
            <div class="card m-2" th:each="board : ${boards.content}">
                <div class="card-body">
                    <h4 class="card-title" th:text="${board.title}">제목 적는 부분</h4>
                    <a th:href="@{/board/{id}(id=${board.id})}" class="btn btn-primary">상세보기</a>
                </div>
            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${boards.first} ? 'disabled' : ''"><a class="page-link" th:href="@{/?page={page}(page=${boards.number - 1})}">Previous</a></li>
                <li class="page-item" th:classappend="${boards.last} ? 'disabled' : ''"><a class="page-link" th:href="@{/?page={page}(page=${boards.number + 1})}">Next</a></li>
            </ul>
        </div>

    </th:block>
</th:block>
</html>


